<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{media}">
    <!-- fal media files -->

    <div class="news-img-wrap row">
        <f:for each="{media}" as="mediaElement" iteration="iter">
            <f:if condition="{iter.index} > 0">
                <div class="outer col-sm-6">
                    <f:if condition="{mediaElement.originalResource.type} == 2">
                        <f:render partial="Detail/FalMediaImageCrop"
                                  arguments="{mediaElement: mediaElement, settings:settings}"/>
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 4">
                        <f:render partial="Detail/FalMediaVideo"
                                  arguments="{mediaElement: mediaElement, settings:settings}"/>
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 5">
                        <f:render partial="Detail/FalMediaImage"
                                  arguments="{mediaElement: mediaElement, settings:settings}"/>
                    </f:if>
                </div>
            </f:if>
        </f:for>
    </div>

</f:if>
</html>